/*---------- Colors----------*/
$baseColor: #572EE5;
$whiteColor: white;
$whiteText:#FFFFFF;
$backgroundMenuMobile:rgba(87,46,229,0.90);
$hoverColor: #5ED7C6;
$activeColor: #9CAFC3;
$backgroundTrending: #F3F5F8;
$blackColor: #000000;
$baseDarkMode: #37383C;
$backgroundTrendingMobile: #222326;
$hoverOptionsColor: #eee;
$hoverOptionsDarkModeColor: #737372;
$searchColor: #50E3C2;
$borderButtonColor: #CED7E1;
$proyectionColor: rgba(136,243,226,0.00);